<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="client/app/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="client/app/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="client/app/app.css">
  <link rel="stylesheet" href="client/app/style.css">
  <link rel="stylesheet" href="client/app/about.css">
  <script src="client/app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body id="mytop">
  <div ng-view></div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Yours_Food_Logo.jpg" alt="Not available" class="image_logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <!-- ng-click="getAccess()" -->s
                <li class=""><a href="#/chefProfile"><span class="glyphicon glyphicon-user"></span></a></li>
                <li class=""><a href="#/home">Home</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/contactUs">Contact Us</a></li>
                <li><a href="#/userAuth">Login</a></li>
                <li><a href="#/orders">Orders</a></li>
                <li><a href="#/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Food Cart</a></li>
                <li><a href="#/logout" ng-controller="LogoutCtrl" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

  <!-- <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/userAuth">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->



  <footer class="text-center" id="footer">
      <span><p class="margin-font footer-text-padding">CMPE 280
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/27/San_Jose_State_Spartans_Logo.svg/996px-San_Jose_State_Spartans_Logo.svg.png" class="img-responsive img-circle margin" style="display:inline" alt="SJSU" width="25" height="25">
      <a href data-target="mytop" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a></p>
    </span>
  </footer>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="client/app/bower_components/angular/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
  <script src="client/app/bower_components/angular-route/angular-route.js"></script>
  <script src="client/app/app.js"></script>
  <script src="client/app/home/home.js"></script>
  <script src="client/app/user/userAuth.js"></script>
  <script src="client/app/contactUs/contactUs.js"></script>
  <script src="client/app/about/about.js"></script>
  <script src="client/app/orders/orders.js"></script>
  <script src="client/app/chefProfile/chefProfile.js"></script>
  <script src="client/app/logout/logout.js"></script>
  <script src="client/app/shoppingcart/shoppingcart.js"></script>
  <!-- <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script> -->
</body>
</html>
