<div class="jumbotron container panel shopcart-container">
<div class="list-group jumbotron">
  <a class=" row list-group-item active">List of dishes in cart</a><br>
  <a class="row list-group-item row" ng-repeat="item in data track by $index">
		<img class="shoppingcart-img img-responsive col-xs-4 " src="https://static.pexels.com/photos/85973/food-rice-chicken-olives-85973.jpeg">
		<div class="col-xs-4">
			{{item.description}}
		</div>
		<div class="col-xs-3">
			${{item.price}}
		</div>
		<div class="col-xs-1">
			<button type="button" class="btn btn-link btn-xs" ng-click="deleteFromCart(item)">
				<span class="glyphicon glyphicon-trash"> </span>
			</button>
		</div>

	</a>
	<div class="row panel-footer" ng-if="data">
		<div class="row text-center">
			<div class="col-xs-9">
				<h4 class="text-right">Total <strong>${{total}}</strong></h4>
			</div>
			<div class="col-xs-3">
				<button type="button" class="btn btn-danger btn-block" ng-click="checkout(data)">
					Checkout
				</button>
			</div>
		</div>
	</div>
</div>
</div>
